body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url('./rickmorty.jpg'); /* public klasöründen çekilmediği için slashın önüne nokta koyup src'den çektim */
  background-repeat: no-repeat;
  background-size: cover;           
  background-position: center center;
  background-attachment: fixed;      
  min-height: 100vh;                
  width: 100%;
}


.app-container {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
  color: #2c3e50;
}

.app-logo {
  width: 250px;
  display: block;
  margin: 0 auto 20px auto;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 8px 14px;
  background-color: #1edfb9ec;
  border: none;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

button:disabled {
  background-color: #ccccccd8;
  cursor: not-allowed;
}

/* CharacterGrid.css */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.character-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.character-name {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

.character-details {
  margin-top: 10px;
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 8px;
}

.app-container-with-sidebar {
  display: flex;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
}

.main-content {
  flex: 1;
  text-align: center;
}
